@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'roboto', sans-serif;
    background: rgb(68,58,62);
    background: radial-gradient(circle, rgba(68,58,62,1) 0%, rgba(34,56,122,1) 100%);
}

.navbar-fixed {
    @apply fixed z-[9999];
    background: radial-gradient(circle, rgba(68,58,62,0.1) 0%, rgba(34,56,122,0.9) 100%);
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.2);
}


.gradient {
    background: rgb(68,58,62);
    background: radial-gradient(circle, rgba(68,58,62,1) 0%, rgba(34,56,122,1) 100%);
}

.kata {
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-dark
}

.hamburger-active > span:nth-child(1) {
    @apply  rotate-45 transition;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
    @apply -rotate-45 transition;
}

.test {
background: rgb(0,108,255);
background: linear-gradient(0deg, rgba(0,108,255,0.7708333333333334) 40%, rgba(255,255,255,0.7624299719887955) 100%);
}

